<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Team</th>
      <th>Role</th>
      <th>Planet</th>
      <th>Climate</th>
      <th>Relations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.name}}</td>
      <td>{{person.surname}}</td>
      <td>{{person.team}}</td>
      <td>{{person.role}}</td>
      <td>{{person.planet}}</td>
      <td>{{person.climate}}</td>
      <td>
        <ul>
          <li *ngFor="let relation of person.relations"> {{relation.relationTypeName}} {{relation.objectName}} {{relation.objectSurname}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
